html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ececec;
  font-family: 'Lucida Grande', 'Open Sans', sans-serif;
}

#map-canvas {
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 960px;
  background: #fff;
  height: 100%;
}

.main-content {
  padding: 10px 20px;
}

.nav li a {
  line-height: 1.8em;
}

.nav li a:hover {
  cursor: pointer;
  color: #4285F4;
}
